[General_Settings]
default_annotation_folder = ./example_data/Annotations
detection_box_folder = ./example_data/Boxes
default_image_folder = ./example_data/RawImages
default_video_folder = ./example_data/Video
prefix = B

[Annotator]
mode = 1
show_animal_detection = 0
show_detection_boxes = 1
training_folder = ./example_data/TrainingImages

[Camera_Views]
0 = Top, T
1 = Frontal, F

[File_History]
file0 = /home/hiltonm/tortoise/camera_trap_tools/example_data/Video/B004/B004-2020/B004-2020-11/B004-20201126-composite.mp4

[Focal_ID]
bh099 = 
bh104 = 
bh119 = 
bh132 = 
bh304 = 
bh305 = 
bh306 = 
bh308 = 
bh309 = 
bh311 = 
bh312 = 
bh314 = 
bh315 = 
bh318 = 
bh320 = 
bh322 = 
bh323 = 
bh327 = 
bh328 = 
bh334 = 
bh336 = 
bh346 = 
bh348 = 
bh351 = 
bh356 = 
bh373 = 
bh374 = 
bh384 = 
bh392 = 
bh395 = 
bh404 = 
bh436 = 
unknown = 
jouvenile = 
new01 = 
new02 = 
new03 = 
new04 = 
new05 = 
new06 = 
new07 = 
new08 = 
notch01 = 
notch02 = 
notch03 = 
notch04 = 
notch05 = 
radio01 = 
radio02 = 
radio03 = 
radio04 = 
radio05 = 
radio06 = 
radio07 = 
radio08 = 
radio09 = 
radio10 = 
radio11 = 

[Focal_Activity]
visible = blue, paired
enter = green, single
exit = orange, single

[Commensal_ID]
amphibian = 
bird = 
insect = 
mammal = 
reptile = 

[Commensal_Activity]
visible = blue, paired
enter burrow = green, single
exit burrow = red, single

