[General_Settings]
default_annotation_folder = /media/oyen/Boyd_Hill_Data/Annotations
detection_box_folder = /media/oyen/Boyd_Hill_Data/Boxes
default_image_folder = /media/oyen/Boyd_Hill_Data/RawImages
default_video_folder = /media/oyen/Boyd_Hill_Data/Videos
prefix = B

[Annotator]
mode = 2
show_detection_boxes = 1
training_folder = /media/oyen/Boyd_Hill_Data/TrainingImages

[Camera_Views]
0 = Top, T
1 = Frontal, F

[File_History]
file0 = /media/oyen/Boyd_Hill_Data/Videos/B016/B016-2021/B016-2021-07/B016-20210704-top.mp4
file1 = /media/oyen/Boyd_Hill_Data/Videos/B016/B016-2021/B016-2021-06/B016-20210624-top.mp4
file2 = /media/oyen/Boyd_Hill_Data/Videos/B016/B016-2021/B016-2021-06/B016-20210623-top.mp4
file3 = /media/oyen/Boyd_Hill_Data/Videos/B016/B016-2021/B016-2021-06/B016-20210622-top.mp4
file4 = /media/oyen/Boyd_Hill_Data/Videos/B016/B016-2021/B016-2021-06/B016-20210620-top.mp4
file5 = /media/oyen/Boyd_Hill_Data/Videos/B004/B004-2020/B004-2020-11/B004-20201126-top.mp4
file6 = /media/oyen/Boyd_Hill_Data/Videos/B004/B004-2020/B004-2020-11/B004-20201128-top.mp4
file7 = /media/oyen/Boyd_Hill_Data/Videos/B002/B002-2020/B002-2020-11/B002-20201128-top.mp4
file8 = /media/oyen/Boyd_Hill_Data/RawImages/B023/2021-07-24/Top
file9 = /media/oyen/Boyd_Hill_Data/RawImages/B023/2021-07-23/Top

[Focal_ID]
bh099 = 
bh104 = 
bh119 = 
bh132 = 
bh304 = 
bh305 = 
bh306 = 
bh308 = 
bh309 = 
bh311 = 
bh312 = 
bh314 = 
bh315 = 
bh318 = 
bh320 = 
bh322 = 
bh323 = 
bh327 = 
bh328 = 
bh334 = 
bh336 = 
bh346 = 
bh348 = 
bh351 = 
bh356 = 
bh373 = 
bh374 = 
bh384 = 
bh392 = 
bh395 = 
bh404 = 
bh436 = 
unknown = 
jouvenile = 
new01 = 
new02 = 
new03 = 
new04 = 
new05 = 
new06 = 
new07 = 
new08 = 
notch01 = 
notch02 = 
notch03 = 
notch04 = 
notch05 = 
radio01 = 
radio02 = 
radio03 = 
radio04 = 
radio05 = 
radio06 = 
radio07 = 
radio08 = 
radio09 = 
radio10 = 
radio11 = 

[Focal_Activity]
visible = blue, paired
enter = green, single
exit = orange, single

[Commensal_ID]
amphibian = 
bird = 
insect = 
mammal = 
reptile = 

[Commensal_Activity]
visible = blue, paired
enter burrow = green, single
exit burrow = red, single

