[General_Settings]
default_annotation_folder = /media/oyen/Boyd_Hill_Data/Annotations
detection_box_folder = /media/oyen/Boyd_Hill_Data/Boxes
default_image_folder = /media/oyen/Boyd_Hill_Data/RawImages
default_video_folder = /media/oyen/Boyd_Hill_Data/Videos
prefix = B

[Annotator]
count_only = 0
show_commensal = 1
show_detection_boxes = 1
training_folder = /media/oyen/Boyd_Hill_Data/TrainingImages

[Camera_Views]
0 = Top, T
1 = Frontal, F

[FileHistory]
file0 = /media/oyen/Boyd_Hill_Data/RawImages/B023/2021-07-24/Top
file1 = /media/oyen/Boyd_Hill_Data/RawImages/B023/2021-07-23/Top
file2 = /media/oyen/Boyd_Hill_Data/RawImages/B023/2021-07-22/Top
file3 = /media/oyen/Boyd_Hill_Data/RawImages/B020/2021-07-24/Top
file4 = /media/oyen/Boyd_Hill_Data/RawImages/B020/2021-07-23/Top
file5 = /media/oyen/Boyd_Hill_Data/RawImages/B020/2021-07-22/Top
file6 = /media/oyen/Boyd_Hill_Data/RawImages/B018/2021-07-24/Top
file7 = /media/oyen/Boyd_Hill_Data/RawImages/B018/2021-07-23/Top
file8 = /media/oyen/Boyd_Hill_Data/RawImages/B018/2021-07-22/Top
file9 = /media/oyen/Boyd_Hill_Data/RawImages/B017/2021-07-24/Top

[FocalID]
bh099 = 
bh104 = 
bh119 = 
bh132 = 
bh305 = 
bh306 = 
bh308 = 
bh309 = 
bh311 = 
bh312 = 
bh314 = 
bh315 = 
bh318 = 
bh320 = 
bh322 = 
bh323 = 
bh327 = 
bh328 = 
bh334 = 
bh336 = 
bh346 = 
bh348 = 
bh351 = 
bh356 = 
bh373 = 
bh374 = 
bh384 = 
bh392 = 
bh395 = 
bh404 = 
bh436 = 
unknown = 

[FocalActivity]
visible = blue, paired
enter = green, single
exit = orange, single

[CommensalID]
amphibian = 
bird = 
insect = 
mammal = 
reptile = 

[CommensalActivity]
visible = blue, paired
enter burrow = green, single
exit burrow = red, single

