[General_Settings]
## This section contains configuration variables used by more than one
## program in the Eckerd Camera_Trap_Tools suite.

# default_annotation_folder: path to root of the default folder where annotations are stored
default_annotation_folder = ./TestData/Annotations
# default_image_folder: path to root of default folder where raw images are stored
default_image_folder = ./TestData/RawImages
# default_video_folder: path to root of default folder where compressed videos are stored
default_video_folder = ./TestData/Videos
# detection_box_folder = path to root of the folder storing bounding boxes of animals detected
detection_box_folder = ./TestData/Boxes
# detection_log_file: path to file indicating the number of animals detected in each image file
detection_log_file = ./TestData/detections.log
# error_log_file: path to error logging file
error_log_file = ./TestData/autocopy_errors.log
# prefix: string prepended to image filename
# B stands for burrow
prefix = B
# time_zone: your time zone designator
time_zone = US/Eastern


[Camera_Views]
## If you supply values here, then the left-most digit of the camera ID
## is taken to specify a camera view.  The values below are a mapping from 
## the digits to you camera views, in the format: 
## <digit> = <full name of view>, <single-character abbreviation of view name>
0 = Top, T
1 = Frontal, F


[Autocopy]
## This section contains configuration variables only used by the Autocopy program.

# camera_id: unique four digit number assigned to camera
# camera_id = 5003
# camera_model: name of the camera camera_model
camera_model = meidase_SL122_Pro
# copy_images: 1 = copy images to destination, 0 = do not copy images
copy_images = 1
# default_image_source: path to folder containing images to copy
default_image_source = ./TestData/TestSource
# detect_objects: 1 = run object detector on images, 0 = do not run detector
detect_objects = 1
# html_report: path to HTML report indicating copy status
html_report = ./autocopy_status.html
# sd_card_sizes: comma-separated values indicating memory sizes (in GB) of SD cards you are using
sd_card_sizes = 32, 64
# skip_end: number of images to skip processing at the end of SD card
skip_end = 0
# skip_start: number of images to skip processing at the start of SD card
skip_start = 0
# use_exif: 1 means use EXIF data for acquisition date/time; 0 means use OCR
use_exif = 0



[Create_Annotations]
## This section contains configuration variables only used by the create_annotations.py program.

# append_annotations: indicates if annotations should be appended to an existing annotation file
append_annotations = 1
# sequence_break_threshold: number of non-detected images needed to indicate break in sequence
sequence_break_threshold = 5


[Create_Video]
## This section contains configuration variables only used by the create_video.py program.

# compose_scale: image scaling factor applied to each view in side-by-side composite video
compose_scale = 0.25
# composite_views: Which two views should be composited into a side-by-side video?
composite_views = Top, Frontal
# create_composite: should a composite video be created?
create_composite = 1
# force: force the creation of video files, even if one of the same name already exists
force = 0
# image_extension: file extension of source images
image_extension = JPG
# max_interval: maximum time interval (in seconds) allowed when time-aligning composite image frames 
max_interval = 3
# recompress_composite: recompress the composite videos using FFMPEG for maximum compression
recompress_composite = 1


[Animal_Detector]
# max_nms_overlap: maximum fraction of bounding box overlap allowed before non-maxima suppression routine prunes smaller box 
max_nms_overlap = 0.1
# supported_views: comma separated list of abbreviated names for views the detector can be run on
supported_views = T

[EfficientDet0]
## Part of the tortoise detector
draw_boxes = 0
threshold = 0.2
label_map = ./utils/tortoisedetector/EfficientDet0/label_map.pbtxt
model_ckpt = ./utils/tortoisedetector/EfficientDet0/ckpt-11
model_config = ./utils/tortoisedetector/EfficientDet0/pipeline.config

[MobileNet]
## Part of the tortoise detector
draw_boxes = 0
model_path = ./utils/tortoisedetector/MobileNet/mobilenet_tortoise.h5
label_map = ./utils/tortoisedetector/MobileNet/mobilenet_labels.pickle
target_class = tortoise
threshold = 0.9