[EfficientDet0]
draw_boxes = 0
label_map = ./utils/tortoisedetector/EfficientDet0/label_map.pbtxt
model_ckpt = ./utils/tortoisedetector/EfficientDet0/ckpt-11
model_config = ./utils/tortoisedetector/EfficientDet0/pipeline.config
threshold = 0.2

[MobileNet]
draw_boxes = 0
model_path = ./utils/tortoisedetector/MobileNet/mobilenet_tortoise.h5
label_map = ./utils/tortoisedetector/MobileNet/mobilenet_labels.pickle
target_class = tortoise
threshold = 0.9